<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "io.cordova.hello-cordova"
        version   = "2.1.0">
    <name>radian</name>

    <description>
        Time lapse like never before.
    </description>

    <author href="http://alpinelaboratories.com" email="rowanc@stanford.edu">
        Rowan Chakoumakos
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce" value="false" />
    
</widget>
