<!DOCTYPE html>
<html>
    <head>
		<title>radian</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name = "format-detection" content = "telephone=no"/>
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width;" />
		<link type="text/css" rel="stylesheet" href="css/all.css">
		<link href="css/mobiscroll-2.0.3.custom.min.css" rel="stylesheet" type="text/css" />

		<!--[if IE]>
			<script src="js/ie-html5.js" type="text/javascript"></script>
		<![endif]-->

    </head>
    <body class='loading'>
		<div id="container">
		</div>
		<div id="navigation" style="position:fixed; bottom:10px; width: 100%; z-index: 110;">
				<nav class="step-nav inner-step" style="width:75%; margin: 0 auto">
					<ul>
						<li class="prev-holder" style="visibility">
							<a href="#" class="prev"></a>
						</li>
						<li id="nav_numbers">
						    <div class="number selected">1</div>
							<div class="number">2</div>
							<div class="number">3</div>
							<div class="number" id="4">4</div>
					    </li>
						<li class="next-holder">
							<a id="thirdstep" href="#" class="next">next</a>
						</li>
					</ul>
				</nav>
		</div>
		<!-- Home Template -->
		<script type="text/template" id="home_template">
			<div id="wrapper">
				<h1 style="font: bold 18px/27px "Conv_Gotham-Bold", Helvetica, Arial, sans-serif">CHOOSE A <br />TIME-LAPSE</h1>
				<div class="btn-box">
					<% timeLapse %>
				   <% if (timeLapse === 0) { %>
						<a href="#timelapse" id="pan" class="btn-white">PAN</a>
						<a href="#timelapse" id="tilt" class="btn-white">TILT</a>
                    <% } %>
                    <% if (timeLapse === 1) { %>
						<a href="#timelapse" id="pan" class="btn-blue">PAN</a>
						<a href="#timelapse" id="tilt" class="btn-white">TILT</a>
                    <% } %>
                    <% if (timeLapse === 2) { %>
						<a href="#timelapse" id="pan" class="btn-white">PAN</a>
						<a href="#timelapse" id="tilt" class="btn-blue">TILT</a>
                    <% } %>

					<a href="#settings" class="settings-btn">y</a>
				</div>
			</div>
		</script>

		<!-- TimeLapseSettings Template -->
		<script type="text/template" id="settings_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#home" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>SETTINGS</h1>
				</header>
				<ul class="extraList">
					<li id="fps">
						<div class="mainHeading">FRAME RATE</div>
						<div class="subHeader">CURRENT: <%= fps %> fps</div>
					</li>
					<li id="about">
						<div class="mainHeading">ABOUT RADIAN</div>
						<div class="subHeader">LEARN MORE</div>
					</li>
					<li id="use">
						<div class="mainHeading">USING RADIAN</div>
						<div class="subHeader">Using the app and Radian</div>
					</li>
				</ul>
			</div>
		</script>

		<!-- TimeLapseSettingsFrameRate Template -->
		<script type="text/template" id="settingsFrameRate_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#settings" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>FRAMES PER SECOND</h1>
				</header>
				<div class="block-info" style="padding-bottom:20px">
					<span class="text">TIME-LAPSE WILL BE COMPILED AT</span>
					<div class="row">
						<strong id="fps" class="mark"><%= fps %></strong>
						<span>fps</span>
					</div>
					<span class="text"></span>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>


		<!-- TimeLapseSettingsAbout Template -->
		<script type="text/template" id="settingsAbout_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#settings" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>ABOUT</h1>
				</header>
				<div>
					??????????
				</div>
			</div>
		</script>

		<!-- TimeLapseSettingsUse Template -->
		<script type="text/template" id="settingsUse_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#settings" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>HOW TO USE</h1>
				</header>
				<div>
					??????????
				</div>
			</div>
		</script>


		<!-- TimeLapse Template -->
		<script type="text/template" id="timeLapse_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse/presets">PRESETS</a>
					<a href="#timelapse/queue" class="alignright">QUEUE</a>
					<h1>RADIAN</h1>
				</header>
				<ul class="inform-list">
					<li id="degreeLink">
						<a href="#timelapse/degrees">DEGREES</a>
						<div class="holder">
							<strong class="mark"><%= degrees %></strong>
							<span><%= directionAbr %></span>
						</div>
					</li>
					<li id="totalTimeLink">
						<a href="#timelapse/totaltime">TOTAL TIME</a>
						<div class="holder">
                            <% if (totalTimeHours !== 0) { %>
                                <strong class="mark"><%= totalTimeHours %></strong>
							<span>hr</span>
                                 <% } %>
							<strong class="mark"><%= totalTimeMinutes %></strong>
							<span>min</span>
						</div>
					</li>
					<li id="intervalLink">
						<a href="#timelapse/interval">INTERVAL</a>
						<div class="holder">
            <% if (intervalMinutes !== 0) { %>

							<strong class="mark"><%= intervalMinutes %></strong>
                                            
							<span>min</span>
                <% } %>
							<strong class="mark"><%= intervalSeconds %></strong>
							<span>sec</span>
						</div>
					</li>
					<li id="advancedLink">
						<a href="#timelapse/advanced">ADVANCED</a>
					</li>
				</ul>
				<div class="total-box">
					<div class="holder">
						<span><strong class="photo"><%= totalPhotos %></strong> photos</span>
						<span><strong class="photo-info"><%= degreesPerPhoto %>&deg;</strong>/photo</span>
						<span><strong class="time"><%= frameRate %></strong> seconds</span>
					</div>
				</div>
			</div>
		</script>
		
		<!-- TimeLapsePresets Template -->
		<script type="text/template" id="timeLapsePresets_template">
			<div id="wrapper" class="inner-page" >
				<header id="header" style="z-index:100; position: relative; ">
					<a href="#" id="edit">EDIT</a>
					<a href="#timelapse" class="highlighted-btn alignright" id="done">DONE</a>

		
					<h1>PRESETS</h1>
				</header>
								<div style="position:absolute; z-index: 80; top: 0; left:0; right:0; height: 49px; width:100%; background-color:#191919">
				</div>
				<div id="scrollwrapper" style="	position:absolute; z-index:1;
	top:55px; bottom:0px; left:0;
	width:100%;
	overflow:auto;">
				<div id="scroller" style=" 	width:100%;
	padding:0;">
				<ul id="list" class="presets-list sortable needsclick" style="position:relative; width:100%; padding:0; margin:0">

				</ul>
			</div>
			</div>
			</div>
		</script>

		<!-- TimeLapsePresetItem Template -->
		<script type="text/template" id="timeLapsePresetItem_template">
							<li>
						<a href="#" class="opener">
							<strong class="title"><% if (current) { %>
								CURRENT
								 <% } else { %><%= name %><% } %></strong>
							<em class="date"><%= dateCreated %></em>
							<span class="delete"></span>
						</a>

						<div class="box hide">
							<div class="box-holder">
								<div class="row">
									<strong class="mark"><%= degrees %></strong>
									<span><%= directionAbr %></span>
								</div>
								<div class="row">
		  							<% if (totalTimeHours !== 0) { %>
		                                <strong class="mark"><%= totalTimeHours %></strong>
									<span>hr</span>
		                                 <% } %>
									<strong class="mark"><%= totalTimeMinutes %></strong>
									<span>min</span>
								</div>
								<div class="row">
            						<% if (intervalMinutes !== 0) { %>

									<strong class="mark"><%= intervalMinutes %></strong>
                                            
									<span>min</span>
                					<% } %>
									<strong class="mark"><%= intervalSeconds %></strong>
									<span>sec</span>
								</div>
								<div class="small-btn-row">
									<a <% if (isTimeDelay) { %> class="light-btn" <% } %> href="#">DELAY</a>
									<a href="#" <% if (isSpeedRamping) { %> class="light-btn" <% } %> >SRAMP</a>
									<a href="#" <% if (isBulbRamping) { %> class="light-btn" <% } %> >BRAMP</a>
									<a href="#" <% if (hold!=='.25') {  %> class="light-btn" <% } %> >HOLD</a>
								</div>
								<div class="btn-row">
									<a href="#" class="save-btn norm">LOAD PRESET</a>
								</div>
							</div>
						</div>
					</li>
		</script>



		<!-- TimeLapseQueue Template -->
		<script type="text/template" id="timeLapseQueue_template">
			<div id="wrapper" class="inner-page">
				<header id="header" style="z-index:100; position: relative; ">
					<span class="no-btn">&nbsp;</span>
					<a href="#timelapse" class="highlighted-btn alignright">DONE</a>
					<h1>QUEUE</h1>
				</header>
				<div style="position:absolute; z-index: 80; top: 0; left:0; right:0; height: 49px; width:100%; background-color:#191919">
				</div>
				<div id="scrollwrapper" style="	position:absolute; z-index:1;
	top:65px; bottom:0px; left:0;
	width:100%;
	overflow:auto;">
				<div id="scroller" style=" 	width:100%;
	padding:0;">
				<ul id="list" class="list sortable needsclick" style="position:relative; width:100%; padding:0; margin:0" >
					<li id="addPresets">
						<a href="#" class="add-link">ADD PRESET TO QUEUE</a>
					</li>

				</ul>
				</div>
				</div>
			</div>
		</script>

		<!-- TimeLapseQueueItem Template -->
		<script type="text/template" id="timeLapseQueueItem_template">
	
				<div class="handle"></div>
				<a href="#" class="delete">delete</a>
				<a href="#" class="list-link"><%= name %></a>

		</script>

		<!-- TimeLapseQueueAddItem Template -->
		<script type="text/template" id="timeLapseQueueAddItem_template">
			<li class="row">
				<a href="#" class="check">check</a>
				<a href="#" class="list-link-add"><%= name %></a>
			</li>
		</script>


				<!-- TimeLapseQueue Template -->
		<script type="text/template" id="timeLapseQueueAdd_template">
			<div id="wrapper" class="inner-page">
				<header id="header" style="z-index:100; position: relative; ">
					<a id="save" href="#timelapse/queue" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>ADD PRESETS</h1>
				</header>
				<div style="position:absolute; z-index: 80; top: 0; left:0; right:0; height: 49px; width:100%; background-color:#191919">
				</div>
				<div id="scrollwrapper" style="	position:absolute; z-index:1;
	top:65px; bottom:0px; left:0;
	width:100%;
	overflow:auto;">
				<div id="scroller" style=" 	width:100%;
	padding:0;">
				<ul id="list" class="list sortable needsclick" style="position:relative; width:100%; padding:0; margin:0" >
				</ul>
				</div>
				</div>
			</div>
		</script>
		
		<!-- TimeLapseDegrees Template -->
		<script type="text/template" id="timeLapseDegrees_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>DEGREES</h1>
				</header>
				<div class="block-info">
					<span class="text">Move</span>
					<div class="row">
						<strong id="degrees" class="mark"><%= degrees %>&deg;</strong>
					</div>
					<div class="row">
					<span id="direction" class="text" style="font-size: 19px;"><%= direction %></span>
					</div>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>
		
		<!-- TimeLapseTotalTime Template -->
		<script type="text/template" id="timeLapseTotalTime_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>DURATION</h1>
				</header>
				<div class="block-info">
				    <span class="text">TIME LAPSE FOR</span>
					<div class="row">					
						<strong id="hours" class="mark"><%= totalTimeHours %></strong>
						<span>hr</span>
						<strong id="totalTimeMinutes" class="mark"><%= totalTimeMinutes %></strong>
						<span>min</span> 
					</div>
					<div class="row">
					<div style="height:20px"></div>
					<span style="font-size:70px" id="continue" <% if (shouldContinue) { %>class="highlight"<% } %>>&infin;</span>
					</div>
					
					<div class="choice-btn-box">
						<!--
						<a href="#" class="btn-blue">SHOOTING</a>
						<a href="#" class="save-btn">MOVING</a> 
						-->
					</div>

				</div>
			</div>
            <div id="picker">
			</div>
		</script>
		
		<!-- TimeLapseInterval Template -->
		<script type="text/template" id="timeLapseInterval_template">
			<div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>INTERVAL</h1>
				</header>
				<div class="block-info">
					<span class="text">TAKE A PHOTO EVERY</span>
					<div class="row">
						<strong id="intervalMinutes" class="mark"><%= intervalMinutes %></strong>
						<span>min</span>
						<strong id="intervalSeconds" class="mark"><%= intervalSeconds %></strong>
						<span>sec</span>
					</div>
				</div>
			</div>
            <div id="picker">
			</div>
		</script>
		
		<!-- The Stats Box Template -->
		<script type="text/template" id="statsBox_template">
		<div class="total-box">
			<div class="holder">
				<span><strong class="photo"><%= totalPhotos %></strong> photos</span>
				<span><strong class="photo-info"><%= degreesPerPhoto %>&deg;</strong>/photo</span>
				<span><strong class="time"><%= frameRate %></strong> seconds</span>
			</div>
		</div>
		</script>
		
		<!-- TimeLapseUpload Template -->
		<script type="text/template" id="timeLapseUpload_template">
		<div id="wrapper" class="loading-page">
			<div style="height: 35px"></div>
			<h1>ARE YOU READY?</h1>
			<div class="btn-box">
				<div id="timelapse" class="progress-btn upload">
					<div class="message">UPLOAD</div>
					<div class="holder" style="width:0%"></div>
				</div>
			</div>
		</div>

		</script>
		
		<!-- TimeLapseUploadInProgress Template -->
		<script type="text/template" id="timeLapseUploadInProgress_template">
		<div id="wrapper" class="loading-page">
			<div style="height: 35px"></div>
			<h1>ARE YOU READY?</h1>
			<div class="btn-box">
				<div class="loading-box btn-white">
					<div class="line">
						<div class="holder" style="width:54%;"></div>
					</div>
				</div>
			</div>
		</div>

		</script>
		
		<!-- TimeLapseCountDown Template -->
		<script type="text/template" id="timeLapseCountDown_template">
		<div id="wrapper" class="loading-page">
			<h1>READY TO GO!</h1>
			<div class="general">
				<div class="text">YOUR TIME  LAPSE WILL START IN A FEW MOMENTS</div>
			</div>
			<div style="height: 162px"></div>
			<div class="btn-box">
				<a class="cancel btn-white nostart" href="#timelapse">CANCEL</a>
			</div>
		</div>

		</script>
		
		<!-- TimeLapseCurrent Template -->
		<script type="text/template" id="timeLapseCurrent_template">
		<div id="wrapper" class="loading-page">
			<h1>IN PROGRESS</h1>
			<div class="loading-box">
				<div class="general">
				<input type="text" class="dial" data-min="0" data-max="100" data-fgColor="#008bca" data-textColor="#FFF" data-bgColor="#191919" data-skin="tron" data-thickness="1" data-readOnly="true" data-width="100" data-height="100">
				</div>
				<div class="row">
					<span class="start">0sec<br />0&deg;</span>
					<span class="finish"><%= totalTimeHours %>hr<%= totalTimeMinutes %>m<br /><%= degrees %>&deg;</span>
					<div class="info">
						<div class="holder">
							<strong id="hours" class="mark">0</strong>
							<span>hr</span>
							<strong id="minutes" class="mark">0</strong>
							<span>min</span>
						</div>
						<div class="holder">
							<strong id="degreesCurrent" class="mark">0</strong>
						</div>
					</div>
				</div>
			</div>
			<div style="text-align:center">
				<div class="choice-btn-box choice-btn-box-large">
					<div class="center">
					<a class="cancel side restartCounter" href="#timelapse/current">RESET COUNTER</a>
					<a class="cancel side newTimeLapse" href="#home">NEW TIMELAPSE</a>
					</div>
				</div>
			</div>
		</div>
		</script>
		
		<!-- TimeLapseAdvanced Template -->
		<script type="text/template" id="timeLapseAdvanced_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>ADVANCED</h1>
				</header>
				<div class="btn-box">
					<a href="#timelapse/timedelay" class="btn  <% if (isTimeDelay) { %>btn-blue <% } %>">TIME DELAY</a>
					<a href="#timelapse/speedramping" class="btn <% if (isSpeedRamping) { %>btn-blue <% } %>">SPEED RAMPING</a>
					<a href="#timelapse/bulbramping" class="btn  <% if (isBulbRamping) { %>btn-blue <% } %>">BULB RAMPING</a>
					<a href="#timelapse/hold" class="btn  <% if (hold!=='.25') { %>btn-blue <% } %>">HOLD</a>
				</div>
			</div>
		</script>

		<!-- TimeLapse Completed Template -->
		<script type="text/template" id="timeLapseCompleted_template">
			<div id="wrapper">
				<h1>TIME-LAPSE<br />COMPLETED!</h1>
				<div style="height:40px"></div>
				<div class="btn-box">
					<a href="#home" class="btn-white newTimeLapse">NEW TIME-LAPSE</a>
					<a href="#timelapse/current" class="btn-white restartCounter">RESTART COUNTER</a>
				</div>
			</div>
		</script>


		<!-- SpeedRamping Template -->
		<script type="text/template" id="speedRamping_template">
			<div id="wrapper" class="inner-page speedramping">
				        <header id="header">
				                    <div style="position:relative;   ">
				            <div style="display: table;
				    margin: 0 auto; height: 0" >
				             <a href="#" id="linear" style="width:100px; margin-right: 10px;" >LINEAR</a>
				             <a href="#" id="cubic" style="width:100px">CURVE</a>
				            </div>
				            <div style="position:relative; top:-32px">
				            <a href="#timelapse/advanced" class="btn-back" id="back"></a>
				          <a href="#" id="reset" class="alignright">RESET</a>
				            </div>
				          </div>
			
				        </header>
				        <div id="page" style="cursor: default; position:relative;">


				          <div id="chart_monotonic" class="cubic_spline">
				          <canvas width="400" height="192" id="chart"></canvas>
				          </div>
				        </div>

				      </div>
			</div>
		</script>




		<!-- Bulb Ramping Template -->
		<script type="text/template" id="bulbRamping_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse/advanced" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>BULB RAMP</h1>
				</header>
				<div  class="holo-dark holo-accent-blue" style="font-size:20px; font-weight:strong; 	font-family:'Conv_Gotham-Black', Helvetica, Arial, sans-serif;
	vertical-align:baseline;position:relative; top:3px;left:-12px">
			
				<div style="
    width: 40%;
    margin: 0 auto;
">
				<div class="holo-switch needsclick">
			<input type="checkbox" id="unchecked" <% if (isBulbRamping) { %>checked<% } %>>
			<label id="isBulbRamping"  class="holo-label" for="unchecked">
			</label>
		</div>
		</div>
				</div>

				<ul class="inform-list" style="position:relative; top: -3px; padding-bottom: 4px">
					<li id="delayLink">
						<a href="#timelapse/bulbramping/delay">DELAY</a>
						<div class="holder">
                            <% if (delayHours !== 0) { %>
                                <strong class="mark"><%= delayHours %></strong>
							<span>hr</span>
                                 <% } %>
							<strong class="mark"><%= delayMinutes %></strong>
							<span>min</span>
						</div>
					</li>
					<li id="delayLink">
						<a href="#timelapse/bulbramping/duration">DURATION</a>
						<div class="holder">
                            <% if (durationHours !== 0) { %>
                                <strong class="mark"><%= durationHours %></strong>
							<span>hr</span>
                                 <% } %>
							<strong class="mark"><%= durationMinutes %></strong>
							<span>min</span>
						</div>
					</li>
					<li id="startShutterLink">
						<a href="#timelapse/bulbramping/startshutter">INITIAL EXP</a>
						<div class="holder">
							<strong class="mark"><%= startShutter %></strong>
							<span>s</span>
						</div>
					</li>
					<li id="startShutterLink">
						<a href="#timelapse/bulbramping/exposurechange">EXP CHANGE</a>
						<div class="holder">
							<strong class="mark"><%= expChange %></strong>
							<span><%= expType %></span>
						</div>
					</li>
				</ul>
			</div>
		</script>

		<!-- BulbRampingDelay Template -->
		<script type="text/template" id="bulbRampingDelay_template">
		    <div id="wrapper" class="inner-page bulbramping">
				<header id="header">
					<a href="#timelapse/bulbramping" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>DELAY</h1>
				</header>
				<div class="block-info">
					<span class="text">DELAY BEFORE BULB RAMP</span>
					<div class="row">					
						<strong id="delayHours" class="mark"><%= delayHours %></strong>
						<span>hr</span>
						<strong id="delayMinutes" class="mark"><%= delayMinutes %></strong>
						<span>min</span> 
					</div>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>
		
		<!-- BulbRampingDuration Template -->
		<script type="text/template" id="bulbRampingDuration_template">
		    <div id="wrapper" class="inner-page bulbramping">
				<header id="header">
					<a href="#timelapse/bulbramping" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>DURATION</h1>
				</header>
				<div class="block-info">
					<span class="text">BULB RAMP FOR</span>
					<div class="row">					
						<strong id="durationHours" class="mark"><%= durationHours %></strong>
						<span>hr</span>
						<strong id="durationMinutes" class="mark"><%= durationMinutes %></strong>
						<span>min</span> 
					</div>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>

		<!-- BulbRampingInitialExp Template -->
		<script type="text/template" id="bulbRampingStartShutter_template">
		    <div id="wrapper" class="inner-page bulbramping">
				<header id="header">
					<a href="#timelapse/bulbramping" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>INITIAL EXPOSURE</h1>
				</header>
				<div class="block-info">
					<span class="text">START EXPOSURE AT</span>
					<div class="row">					
						<strong id="startShutter" class="mark"><%= startShutter %></strong>
						<span>seconds</span>
					</div>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>

		<!-- BulbRampingExpChange Template -->
		<script type="text/template" id="bulbRampingExpChange_template">
		    <div id="wrapper" class="inner-page bulbramping">
				<header id="header">
					<a href="#timelapse/bulbramping" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>EXP CHANGE</h1>
				</header>
				<div class="block-info">
					<span class="text">CHANGE EXPOSURE BY</span>
					<div class="row">					
						<strong id="expChange" class="mark"><%= expChange %></strong>
						<span id="expType"><%= expType %></span>
					</div>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>

		<!-- TimeLapseTimeDelay Template -->
		<script type="text/template" id="timeLapseTimeDelay_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse/advanced" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>TIME DELAY</h1>
				</header>
				<div class="block-info">
				    <span class="text">WAIT</span>
					<div class="row">					
						<strong id="timeDelayHours" class="mark"><%= timeDelayHours %></strong>
						<span>hr</span>
						<strong id="timeDelayMinutes" class="mark"><%= timeDelayMinutes %></strong>
						<span>min</span> 
					</div>
					<span class="text">BEFORE STARTING</span>
				</div>
			</div>
            <div id="picker">
			</div>
		</script>

		<!-- The Bulb Ramp Box Template -->
		<script type="text/template" id="bulbRampStatsBox_template">
		<div class="total-box">
			<div class="holder">
				<span><strong class="photo"><%= totalPhotos %></strong> photos</span>
				<span><strong><%= finalShutter %>s</strong> Final Exp</span>
				<span><strong class="time"><%= frameRate %></strong> seconds</span>
			</div>
		</div>
		</script>

		<!-- TimeLapseHold Template -->
		<script type="text/template" id="timeLapseHold_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse/advanced" class="btn-back"></a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>HOLD</h1>
				</header>
				<div class="block-info" style="padding-bottom:20px">
					<span class="text">PRESS THE SHUTTER FOR</span>
					<div class="row">
						<strong id="hold" class="mark"><%= hold %></strong>
						<span>SEC</span>
					</div>
					<span class="text">EVERY PHOTO</span>
				</div>
				<div class="textBox">
					<ul>
						<li>.25s is the default.</li>
						<li>.5s is for IR triggering.</li>
						<li>2s is for HDR bracketing.</li>
					</ul>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>

 

        <!-- Load Libs -->
		<script type="text/javascript" src="js/lib/cordova-2.2.0.js"></script>
        <script type="text/javascript" src="js/lib/underscore-min.js"></script>
        <script type="text/javascript" src="js/lib/jquery-1.8.2.min.js"></script> 
        <script type="text/javascript" src="js/lib/jquery-ui-1.9.1.custom.min.js"></script>
        
		<script type="text/javascript" src="js/lib/jquery.touchpunch.0.2.2.js"></script>
		<script type="text/javascript" src="js/lib/iscroll.js"></script>
        <script src="js/lib/mobiscroll-2.0.3.custom.min.js"></script>
        <script src="js/lib/circle-progress-bar.js"></script>
         <!-- <script src="js/lib/boot.min.js"></script>-->
        <script src="js/lib/hammer.js"></script>
        <script src="js/lib/jquery.hammer.js"></script>
        <script type="text/javascript" src="js/lib/jquery.simplemodal.1.4.3.min.js"></script>
        <script type="text/javascript" src="js/lib/backbone-min.js"></script>
        <script type='application/javascript' src='js/lib/fastclick.js'></script>
        <script>

        	window.addEventListener('load', function() {
    			new FastClick(document.body);
			}, false);

        	// Namespacing Plugin for JQuery
			(function( $ ){
			  	$.fn.ns = function(namespace){
				    return namespace.split('.').reduce(function(holder, name){
				        holder[name] = holder[name] || {};
				        return holder[name];
				    }, window);
				};
			})( jQuery );
        </script>

        <!-- Load Plugins  -->
        <script type="text/javascript" src="js/lib/screenOrientation.js"></script>


        <!-- Load Scripts  -->
        <script type="text/javascript" src="js/configuration.js"></script>
        <script type="text/javascript" src="js/constants.js"></script>
        <script type="text/javascript" src="js/utilities.js"></script>	
        
        <script type="text/javascript" src="js/models.js"></script>
        
       
        <script type="text/javascript" src="js/router.js"></script>
        <script type="text/javascript" src="js/radian.js"></script>

         <script type="text/javascript" src="js/views.js"></script> 

        
        
		<script type="text/javascript" src="js/data_transmission.js"></script>
		<script type="text/javascript" src="js/wav_generator.js"></script>
		<script type="text/javascript" src="js/file_system.js"></script>
		<script type="text/javascript" src="js/sound.js"></script>
		<script type="text/javascript" src="js/send.js"></script>
		<script type="text/javascript" src="js/cubic_spline_chart.js"></script>
    </body>
</html>
