<!DOCTYPE html>
<html>
    <head>
		<title>radian</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name = "format-detection" content = "telephone=no"/>
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width;" />
		<link type="text/css" rel="stylesheet" href="css/all.css">
		<link href="css/mobiscroll-2.0.3.custom.min.css" rel="stylesheet" type="text/css" />

		<!--[if IE]>
			<script src="js/ie-html5.js" type="text/javascript"></script>
		<![endif]-->

    </head>
    <body class='loading'>
		<div id="container">
		</div>
		<div id="navigation" style="position:fixed; bottom:10px; width: 100%">
				<nav class="step-nav inner-step" style="width:75%; margin: 0 auto">
					<ul>
						<li class="prev-holder" style="visibility">
							<a href="#" class="prev"></a>
						</li>
						<li id="nav_numbers">
						    <div class="number selected">1</div>
							<div class="number">2</div>
							<div class="number">3</div>
							<div class="number">4</div>
					    </li>
						<li class="next-holder">
							<a id="thirdstep" href="#" class="next">next</a>
						</li>
					</ul>
				</nav>
		</div>
		<!-- Home Template -->
		<script type="text/template" id="home_template">
			<div id="wrapper">
				<h1>CHOOSE A <br /> TIME-LAPSE</h1>
				<div class="btn-box">
					<% timeLapse %>
				   <% if (timeLapse === 0) { %>
						<a href="#timelapse" id="pan" class="btn-white">PAN</a>
						<a href="#timelapse" id="tilt" class="btn-white">TILT</a>
                    <% } %>
                    <% if (timeLapse === 1) { %>
						<a href="#timelapse" id="pan" class="btn-blue">PAN</a>
						<a href="#timelapse" id="tilt" class="btn-white">TILT</a>
                    <% } %>
                    <% if (timeLapse === 2) { %>
						<a href="#timelapse" id="pan" class="btn-white">PAN</a>
						<a href="#timelapse" id="tilt" class="btn-blue">TILT</a>
                    <% } %>

					<a href="#" class="settings-btn">y</a>
				</div>
			</div>
		</script>
		
		<!-- TimeLapse Template -->
		<script type="text/template" id="timeLapse_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse/presets">PRESETS</a>
					<a href="#timelapse/queue" class="alignright">QUEUE</a>
					<h1>RADIAN</h1>
				</header>
				<ul class="inform-list">
					<li id="degreeLink">
						<a href="#timelapse/degrees">DEGREES</a>
						<div class="holder">
							<strong class="mark"><%= degrees %></strong>
							<span><%= directionAbr %></span>
						</div>
					</li>
					<li id="totalTimeLink">
						<a href="#timelapse/totaltime">TOTAL TIME</a>
						<div class="holder">
                            <% if (totalTimeHours !== 0) { %>
                                <strong class="mark"><%= totalTimeHours %></strong>
							<span>hr</span>
                                 <% } %>
							<strong class="mark"><%= totalTimeMinutes %></strong>
							<span>min</span>
						</div>
					</li>
					<li id="intervalLink">
						<a href="#timelapse/interval">INTERVAL</a>
						<div class="holder">
            <% if (intervalMinutes !== 0) { %>

							<strong class="mark"><%= intervalMinutes %></strong>
                                            
							<span>min</span>
                <% } %>
							<strong class="mark"><%= intervalSeconds %></strong>
							<span>sec</span>
						</div>
					</li>
					<li id="advancedLink">
						<a href="#timelapse/advanced">ADVANCED</a>
					</li>
				</ul>
				<div class="total-box">
					<div class="holder">
						<span><strong class="photo"><%= totalPhotos %></strong> photos</span>
						<span><strong class="photo-info"><%= degreesPerPhoto %>&deg;</strong>/photo</span>
						<span><strong class="time"><%= frameRate %></strong> seconds</span>
					</div>
				</div>
			</div>
		</script>
		
		<!-- TimeLapsePresets Template -->
		<script type="text/template" id="timeLapsePresets_template">
			<div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse" class="highlighted-btn">DONE</a>
					<span class="no-btn alignright">&nbsp;</span>
					<h1>PRESETS</h1>
				</header>
				<ul class="presets-list">
					<li>
						<a href="#" class="opener">
							<strong class="title">CURRENT</strong>
							<em class="date">08/26/12</em>
						</a>
						<div class="box">
							<div class="box-holder">
								<div class="row">
									<strong class="mark">360</strong>
									<span>CW</span>
								</div>
								<div class="row">
									<strong class="mark">2</strong>
									<span>hr</span>
									<strong class="mark">00</strong>
									<span>min</span>
								</div>
								<div class="row">
									<strong class="mark">15</strong>
									<span>sec</span>
								</div>
								<div class="small-btn-row">
									<a href="#">SPEED</a>
									<a href="#" class="dark-btn">BULB</a>
									<a href="#">DELAY</a>
								</div>
								<div class="btn-row">
									<a href="#" class="save-btn">SAVE AS PRESET</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a href="#" class="opener">
							<strong class="title">DESERT</strong>
							<em class="date">08/26/12 <span class="time">8:00 PM</span></em>
						</a>
					</li>
					<li>
						<a href="#" class="opener">
							<strong class="title">BEACH</strong>
							<em class="date">08/26/12 <span class="time">8:00 PM</span></em>
						</a>
					</li>
					<li>
						<a href="#" class="opener">
							<strong class="title">CITY</strong>
							<em class="date">08/26/12 <span class="time">8:00 PM</span></em>
						</a>
					</li>
				</ul>
			</div>
		</script>
		
		<!-- TimeLapseQueue Template -->
		<script type="text/template" id="timeLapseQueue_template">
			<div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse" class="highlighted-btn">DONE</a>
					<span class="no-btn alignright">&nbsp;</span>
					<h1>QUEUE</h1>
				</header>
				<ul class="list">
					<li style="position:relative">
						<div class="handle" style="
    position: absolute;
    width: 22%;
    height: 80%;
    top: 5px;
    left: 10px;
    cursor:
"></div>
						<a href="#" class="delete">delete</a>
						<a href="#" class="list-link">DESERT</a>
					</li>
					<li style="position:relative">
						<a href="#" class="delete">delete</a>
						<a href="#" class="list-link">BEACH</a>
					</li>
					<li>
						<a href="#" class="delete">delete</a>
						<a href="#" class="list-link">CITY</a>
					</li>
					<li>
						<a href="#" class="delete">delete</a>
						<a href="#" class="list-link">SUNSET</a>
					</li>
					<li>
						<a href="#" class="add-link">ADD PRESET TO QUEUE</a>
					</li>
				</ul>
			</div>
		</script>
		
		<!-- TimeLapseDegrees Template -->
		<script type="text/template" id="timeLapseDegrees_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse" class="btn-back">back</a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>DEGREES</h1>
				</header>
				<div class="block-info">
					<span class="text">Move</span>
					<div class="row">
						<strong id="degrees" class="mark"><%= degrees %>&deg;</strong>
					</div>
					<div class="row">
					<span id="direction" class="text" style="font-size: 19px;"><%= direction %></span>
					</div>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>
		
		<!-- TimeLapseTotalTime Template -->
		<script type="text/template" id="timeLapseTotalTime_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse" class="btn-back">back</a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>DURATION</h1>
				</header>
				<div class="block-info">
				    <span class="text">TIME LAPSE FOR</span>
					<div class="row">					
						<strong id="hours" class="mark"><%= totalTimeHours %></strong>
						<span>hr</span>
						<strong id="totalTimeMinutes" class="mark"><%= totalTimeMinutes %></strong>
						<span>min</span> 
					</div>
					<div class="row">
					<div style="height:20px"></div>
					<span style="font-size:70px" id="continue" <% if (shouldContinue) { %>class="highlight"<% } %>>&infin;</span>
					</div>
					
					<div class="choice-btn-box">
						<!--
						<a href="#" class="btn-blue">SHOOTING</a>
						<a href="#" class="save-btn">MOVING</a> 
						-->
					</div>

				</div>
			</div>
            <div id="picker">
			</div>
		</script>
		
		<!-- TimeLapseInterval Template -->
		<script type="text/template" id="timeLapseInterval_template">
			<div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse" class="btn-back">back</a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>INTERVAL</h1>
				</header>
				<div class="block-info">
					<span class="text">TAKE A PHOTO EVERY</span>
					<div class="row">
						<strong id="intervalMinutes" class="mark"><%= intervalMinutes %></strong>
						<span>min</span>
						<strong id="intervalSeconds" class="mark"><%= intervalSeconds %></strong>
						<span>sec</span>
					</div>
				</div>
			</div>
            <div id="picker">
			</div>
		</script>
		
		<!-- The Stats Box Template -->
		<script type="text/template" id="statsBox_template">
		<div class="total-box">
			<div class="holder">
				<span><strong class="photo"><%= totalPhotos %></strong> photos</span>
				<span><strong class="photo-info"><%= degreesPerPhoto %>&deg;</strong>/photo</span>
				<span><strong class="time"><%= frameRate %></strong> seconds</span>
			</div>
		</div>
		</script>
		
		<!-- TimeLapseUpload Template -->
		<script type="text/template" id="timeLapseUpload_template">
		<div id="wrapper" class="loading-page">
			<div style="height: 35px"></div>
			<h1>ARE YOU READY?</h1>
			<div class="btn-box">
				<div id="timelapse" class="progress-btn upload">
					<div class="message">UPLOAD</div>
					<div class="holder" style="width:0%"></div>
				</div>
			</div>
		</div>

		</script>
		
		<!-- TimeLapseUploadInProgress Template -->
		<script type="text/template" id="timeLapseUploadInProgress_template">
		<div id="wrapper" class="loading-page">
			<div style="height: 35px"></div>
			<h1>ARE YOU READY?</h1>
			<div class="btn-box">
				<div class="loading-box btn-white">
					<div class="line">
						<div class="holder" style="width:54%;"></div>
					</div>
				</div>
			</div>
		</div>

		</script>
		
		<!-- TimeLapseCountDown Template -->
		<script type="text/template" id="timeLapseCountDown_template">
		<div id="wrapper" class="loading-page">
			<h1>READY TO GO!</h1>
			<div class="general">
				<div class="text">YOUR TIME  LAPSE WILL START IN A FEW MOMENTS</div>
			</div>
			<div style="height: 162px"></div>
			<div class="btn-box">
				<a class="cancel btn-white nostart" href="#timelapse">CANCEL</a>
			</div>
		</div>

		</script>
		
		<!-- TimeLapseCurrent Template -->
		<script type="text/template" id="timeLapseCurrent_template">
		<div id="wrapper" class="loading-page">
			<h1>IN PROGRESS</h1>
			<div class="loading-box">
				<div class="general">
				<input type="text" class="dial" data-min="0" data-max="100" data-fgColor="#008bca" data-textColor="#FFF" data-bgColor="#191919" data-skin="tron" data-thickness="1" data-readOnly="true" data-width="100" data-height="100">
				</div>
				<div class="row">
					<span class="start">0sec<br />0&deg;</span>
					<span class="finish"><%= totalTimeHours %>hr<%= totalTimeMinutes %>m<br /><%= degrees %>&deg;</span>
					<div class="info">
						<div class="holder">
							<strong id="hours" class="mark">0</strong>
							<span>hr</span>
							<strong id="minutes" class="mark">0</strong>
							<span>min</span>
						</div>
						<div class="holder">
							<strong id="degrees" class="mark">0</strong>
						</div>
					</div>
				</div>
			</div>
			<div style="text-align:center">
				<div class="choice-btn-box choice-btn-box-large">
					<div class="center">
					<a class="cancel side restartCounter" href="#timelapse/current">RESET COUNTER</a>
					<a class="cancel side newTimeLapse" href="#home">NEW TIMELAPSE</a>
					</div>
				</div>
			</div>
		</div>
		</script>
		
		<!-- TimeLapseAdvanced Template -->
		<script type="text/template" id="timeLapseAdvanced_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse" class="btn-back">back</a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>ADVANCED</h1>
				</header>
				<div class="btn-box">
					<a href="#" class="btn">TIME DELAY</a>
					<a href="#" class="btn">SPEED RAMPING</a>
					<a href="#timelapse/bulbramping" class="btn  <% if (isBulbRamping) { %>btn-blue <% } %>">BULB RAMPING</a>
					<a href="#" class="btn">HDR</a>
				</div>
			</div>
		</script>

		<!-- TimeLapse Completed Template -->
		<script type="text/template" id="timeLapseCompleted_template">
			<div id="wrapper">
				<h1>TIME-LAPSE<br />COMPLETED!</h1>
				<div style="height:40px"></div>
				<div class="btn-box">
					<a href="#home" class="btn-white newTimeLapse">NEW TIME-LAPSE</a>
					<a href="#timelapse/current" class="btn-white restartCounter">RESTART COUNTER</a>
				</div>
			</div>
		</script>




		<!-- Bulb Ramping Template -->
		<script type="text/template" id="bulbRamping_template">
		    <div id="wrapper" class="inner-page">
				<header id="header">
					<a href="#timelapse/advanced" class="btn-back">back</a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>BULB RAMP</h1>
				</header>
				<div  class="holo-dark holo-accent-blue" style="font-size:20px; font-weight:strong; 	font-family:'Conv_Gotham-Black', Helvetica, Arial, sans-serif;
	vertical-align:baseline;position:relative; top:3px;left:-12px">
			
				<div style="
    width: 40%;
    margin: 0 auto;
">
				<div class="holo-switch">
			<input type="checkbox" id="unchecked" <% if (isBulbRamping) { %>checked<% } %>>
			<label id="isBulbRamping"  class="holo-label" for="unchecked">
			</label>
		</div>
		</div>
				</div>

				<ul class="inform-list" style="position:relative; padding-bottom: 12px">
					<li id="delayLink">
						<a href="#timelapse/bulbramping/delay">DELAY</a>
						<div class="holder">
                            <% if (delayHours !== 0) { %>
                                <strong class="mark"><%= delayHours %></strong>
							<span>hr</span>
                                 <% } %>
							<strong class="mark"><%= delayMinutes %></strong>
							<span>min</span>
						</div>
					</li>
					<li id="delayLink">
						<a href="#timelapse/bulbramping/duration">DURATION</a>
						<div class="holder">
                            <% if (durationHours !== 0) { %>
                                <strong class="mark"><%= durationHours %></strong>
							<span>hr</span>
                                 <% } %>
							<strong class="mark"><%= durationMinutes %></strong>
							<span>min</span>
						</div>
					</li>
					<li id="startShutterLink">
						<a href="#timelapse/bulbramping/startshutter">INITIAL EXP</a>
						<div class="holder">
							<strong class="mark"><%= startShutter %></strong>
							<span>s</span>
						</div>
					</li>
					<li id="startShutterLink">
						<a href="#timelapse/bulbramping/exposurechange">EXP CHANGE</a>
						<div class="holder">
							<strong class="mark"><%= expChange %></strong>
							<span><%= expType %></span>
						</div>
					</li>
				</ul>
			</div>
		</script>

		<!-- BulbRampingDelay Template -->
		<script type="text/template" id="bulbRampingDelay_template">
		    <div id="wrapper" class="inner-page bulbramping">
				<header id="header">
					<a href="#timelapse/bulbramping" class="btn-back">back</a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>DELAY</h1>
				</header>
				<div class="block-info">
					<span class="text">DELAY BEFORE BULB RAMP</span>
					<div class="row">					
						<strong id="delayHours" class="mark"><%= delayHours %></strong>
						<span>hr</span>
						<strong id="delayMinutes" class="mark"><%= delayMinutes %></strong>
						<span>min</span> 
					</div>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>
		
		<!-- BulbRampingDuration Template -->
		<script type="text/template" id="bulbRampingDuration_template">
		    <div id="wrapper" class="inner-page bulbramping">
				<header id="header">
					<a href="#timelapse/bulbramping" class="btn-back">back</a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>DURATION</h1>
				</header>
				<div class="block-info">
					<span class="text">BULB RAMP FOR</span>
					<div class="row">					
						<strong id="durationHours" class="mark"><%= durationHours %></strong>
						<span>hr</span>
						<strong id="durationMinutes" class="mark"><%= durationMinutes %></strong>
						<span>min</span> 
					</div>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>

		<!-- BulbRampingInitialExp Template -->
		<script type="text/template" id="bulbRampingStartShutter_template">
		    <div id="wrapper" class="inner-page bulbramping">
				<header id="header">
					<a href="#timelapse/bulbramping" class="btn-back">back</a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>INITIAL EXPOSURE</h1>
				</header>
				<div class="block-info">
					<span class="text">START EXPOSURE AT</span>
					<div class="row">					
						<strong id="startShutter" class="mark"><%= startShutter %></strong>
						<span>seconds</span>
					</div>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>

		<!-- BulbRampingExpChange Template -->
		<script type="text/template" id="bulbRampingExpChange_template">
		    <div id="wrapper" class="inner-page bulbramping">
				<header id="header">
					<a href="#timelapse/bulbramping" class="btn-back">back</a>
					<span class="no-btn no-back alignright">&nbsp;</span>
					<h1>EXP CHANGE</h1>
				</header>
				<div class="block-info">
					<span class="text">CHANGE EXPOSURE BY</span>
					<div class="row">					
						<strong id="expChange" class="mark"><%= expChange %></strong>
						<span id="expType"><%= expType %></span>
					</div>
				</div>
			</div>
			<div id="picker">
			</div>
		</script>

		<!-- The Bulb Ramp Box Template -->
		<script type="text/template" id="bulbRampStatsBox_template">
		<div class="total-box">
			<div class="holder">
				<span><strong class="photo"><%= totalPhotos %></strong> photos</span>
				<span><strong>10s</strong> Final Exp</span>
				<span><strong class="time"><%= frameRate %></strong> seconds</span>
			</div>
		</div>
		</script>



        
		<script type="text/javascript" src="js/cordova.ios.js"></script>
				
        <script type="text/javascript" src="js/DataTransmission.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
        <script src="js/mobiscroll-2.0.3.custom.min.js"></script>
        <script src="js/circle-progress-bar.js"></script>
        <script type="text/javascript" src="js/backbone-min.js"></script>
		<script type="text/javascript" src="js/models.js"></script>
        <script type="text/javascript" src="js/views.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/data_transmission.js"></script>
		<script type="text/javascript" src="js/wav_generator.js"></script>
		<script type="text/javascript" src="js/file_system.js"></script>
		<script type="text/javascript" src="js/sound.js"></script>
		<script type="text/javascript" src="js/send.js"></script>
    </body>
</html>
